body {
    background-image: url("background.jpg");
    background-size: cover;
}
.head {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#status {
    font-size: 20px;
}
canvas {
    box-shadow: 10px 10px 10px mediumblue;
    border-radius: 10px;
    color:darkcyan
}